.pagination {
  margin: 120px 0 40px;
  text-align: center;
}

.page-number-basic {
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 10px;
  padding: 0 10px;
  line-height: 30px;

  +mobile() { margin: 0 5px; }
}

.pagination {
  .prev, .next, .page-number {
    @extend .page-number-basic;

    transition-property: border-color;
    border-radius : 2px;
    background: rgb(68,138,255);
    color: #fff;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    the-transition();
    &:hover { }
  }

  .space {
    @extend .page-number-basic;
    padding: 0;
    margin: 0;
  }

  .prev { margin-left: 0; }
  .next { margin-right: 0; }

  .page-number.current {
    color: #fff;
    background: #3f51b5;
  }
}

@media (max-width: 767px)
  .pagination { border-top: none; }
  
  .pagination {
    .prev, .next, .page-number {
      margin-bottom: 10px;

      &:hover { }
    }
  }
