// Variables of Pisces scheme
// =================================================

// Settings for some of the most global styles.
// --------------------------------------------------
$body-bg-color                = #f5f7f9


// Borders
// --------------------------------------------------
$box-shadow-inner                 = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow                       = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$border-radius-inner              = initial;
$border-radius                    = initial;


// Header
// --------------------------------------------------
$subtitle-color                   = $gray-lighter

// Sidebar
// --------------------------------------------------
$sidebar-offset-float             = unit(hexo-config('sidebar.offset_float'), px) if hexo-config('sidebar.offset_float') is a 'unit'

$sidebar-nav-hover-color          = #3f51b5
$sidebar-highlight                = #2196f3

$site-author-image-width          = 120px
$site-author-image-border-width   = 1px
$site-author-image-border-color   = $gainsboro

$site-author-name-margin          = 0
$site-author-name-color           = #555
$site-author-name-align           = center
$site-author-name-weight          = $font-weight-bold

$site-description-font-size       = 13px
$site-description-color           = $grey-dark
$site-description-margin-top      = 0
$site-description-align           = center

$site-state-item-count-font-size  = 16px
$site-state-item-name-font-size   = 13px
$site-state-item-name-color       = $grey-dark
$site-state-item-border-color     = $gainsboro

$toc-link-color                       = #2196f3
$toc-link-border-color                = #2196f3
$toc-link-hover-color                 = #1976d2
$toc-link-hover-border-color          = #1976d2
$toc-link-active-color                = #3f51b5
$toc-link-active-border-color         = #3f51b5
$toc-link-active-current-color        = #283593
$toc-link-active-current-border-color = #283593


// Components
// --------------------------------------------------

// Button
$read-more-color              = $text-color
$read-more-bg-color           = white
$read-more-border-radius      = 2px
$btn-default-border-color     = $text-color
$btn-default-hover-color      = white
$btn-default-hover-bg         = $black-deep

// Full Image Tag
$full-image-width             = 118%
$full-image-margin-horizontal = -9%
$full-image-margin-vertical   = 0

// Back to top
$b2t-opacity                  = .6
$b2t-position-bottom          = -100px
$b2t-position-bottom-on       = 30px
